%div.wrapper
  %div.container
    .navbar
      = link_to "Sell", manage_auctions_auctions_path, class: "btn btn-primary button-link"
      = link_to "Buy", auctions_path, class: "btn btn-primary button-link"
      = link_to "My Bids", bids_path, class: "btn btn-primary button-link"



