%h1 Manage Auctions

%br/
%div.nav-actions
  = link_to "Create New Auction", new_auction_path, class: "button btn btn-primary"
  = link_to "← Back", :back, class: "button btn btn-secondary"

%h2 Draft Auctions
- if @draft_auctions.any?
  - @draft_auctions.each do |auction|
    = render "auctions/auction_card", auction: auction, show_price: true, show_description: true, show_details: true, show_publish: true      
- else
  %p No draft auctions.

%h2 Published Auctions
- if @published_auctions.any?
  - @published_auctions.each do |auction|
    = render "auctions/auction_card", auction: auction, show_price: true, show_description: true, show_details: true, show_publish: false
- else
  %p No published auctions.
