<h1>Congratulations!</h1>
<p>You have won the auction: <strong><%= @auction.title %></strong>.</p>
<p>The final price is <strong>$<%= @auction.current_highest_bid.current_bid_price %></strong>.</p>
<p>Thank you for participating!</p>
